
<ion-header>
  <ion-navbar color="tax">
   <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Charter Request
  </ion-title>
</ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="show">

    <ion-card-header>
      Details
    </ion-card-header>

    <ion-card-content>
     <ion-fab right top *ngIf="show">
      <button ion-fab mini color="light" (click)='invisible()'>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-fab>
    <div>Pickup: {{person.pickUpLat}}, {{person.pickUpLng}}</div>
    <div>Dropoff: {{person.dropoffLat}}, {{person.dropoffLng}}</div>
  </ion-card-content>

</ion-card>

  <ion-card *ngIf="empty">


    <ion-card-content>
    <h1>No Passengers</h1>
  </ion-card-content>

</ion-card>

<ion-list>
  <button ion-item *ngFor="let person of people | async" (click)="personTapped($event, person)" (press)="details($event,person)">
   <!-- <ion-icon [name]="person.status" item-left></ion-icon>-->
    {{person.driverId}}
    
  </button>
</ion-list>
<button ion-button clear (click)='confirm()'>Confirm</button>

<!--<button ion-button (click)='locate()' clear icon-rigth> Locate </button>  For testing-->
 <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
